In [1]:
from taxbrain import TaxBrain, report
# TaxBrain.LAST_BUDGET_YEAR = 2035
reform_url = "github://PSLmodels:Tax-Calculator@master/taxcalc/reforms/ext.json"

In [2]:
# tb_static = TaxBrain(2025, 2034, microdata="CPS", reform=reform_url)
# tb_static.run()
# static_table = tb_static.weighted_totals("combined")
# print("Tax Liability, CPS Data, Static")
# print(static_table)

In [3]:
# tb_dynamic = TaxBrain(2025, 2034, microdata="CPS", reform=reform_url, behavior={"sub": 0.25})
# tb_dynamic.run()
# dynamic_table = tb_dynamic.weighted_totals("combined")
# print("Tax Liability, CPS Data, Dynamic")
# print(dynamic_table)

In [20]:
tb_static = TaxBrain(2026, 2034, microdata="TMD", reform=reform_url)
tb_static.run()
static_table = tb_static.weighted_totals("combined")/1000000000000

In [26]:
static_table.to_csv('./tcja_sims_results/min_BR.csv')

In [21]:
static_table

,2026,2027,2028,2029,2030,2031,2032,2033,2034
Base,4.553345,4.742380,4.935603,5.143035,5.357129,5.578793,5.807396,6.040518,6.278980
Reform,4.269151,4.449945,4.634999,4.833458,5.038678,5.251356,5.470957,5.694974,5.924276
Difference,-0.284194,-0.292435,-0.300604,-0.309576,-0.318452,-0.327437,-0.336439,-0.345544,-0.354703

In [22]:
tb_dynamic = TaxBrain(2026, 2034, microdata="TMD", reform=reform_url, behavior={"sub": 0.25})
tb_dynamic.run()
dynamic_table = tb_dynamic.weighted_totals("combined")/1000000000000

In [28]:
dynamic_table.to_csv('./tcja_sims_results/modest_BR.csv')

In [27]:
dynamic_table

,2026,2027,2028,2029,2030,2031,2032,2033,2034
Base,4.553345,4.742380,4.935603,5.143035,5.357129,5.578793,5.807396,6.040518,6.278980
Reform,4.327256,4.510547,4.698029,4.899131,5.107062,5.322258,5.544702,5.771565,6.004041
Difference,-0.226089,-0.231833,-0.237574,-0.243904,-0.250067,-0.256535,-0.262694,-0.268953,-0.274938

In [23]:
tb_dynmic_max = TaxBrain(2026, 2034, microdata="TMD", reform=reform_url, behavior={"sub": 0.5})
tb_dynmic_max.run()
dynmic_max_table = tb_dynmic_max.weighted_totals("combined")/1000000000000

In [30]:
dynmic_max_table.to_csv('./tcja_sims_results/max_BR.csv')

In [29]:
dynmic_max_table

,2026,2027,2028,2029,2030,2031,2032,2033,2034
Base,4.553345,4.742380,4.935603,5.143035,5.357129,5.578793,5.807396,6.040518,6.278980
Reform,4.386484,4.572398,4.762408,4.966185,5.176846,5.394585,5.619907,5.849635,6.085308
Difference,-0.166861,-0.169981,-0.173194,-0.176850,-0.180284,-0.184208,-0.187489,-0.190883,-0.193672